body {
    font-family: 'Acme';
    font-size: 22px;
    margin: 0px;
}

.header {
    overflow: hidden;
    padding: 25px;
    /* margin-top: 25px; */
    /* margin-right: 25px; */
    background-color: white;
    /* position: fixed;
    width: 97%; */
    position: sticky;
    top: 0;
}

.header a {
    color: rgb(51, 51, 51);
    text-align: center;
    padding: 15px 25px 15px 25px;
    text-decoration: none;
    line-height: 45px;
    border-radius: 8px;
    cursor: pointer;
}

.header-right a:hover {
    background-color: black;
    color: white;
}

.header .name {
    font-size: 48px;
    font-weight: bold;
    padding: 0px;
}


/* .header a.active {
    background-color: black;
    color: white;
} */

.header-right {
    float: right;
}

.container {
    background-color: #efefef;
    margin: 0px 25px 15px 25px;
}

img.My_Photo {
    padding: 0px;
    width: 480px;
    padding-top: 0px;
}

.content {
    float: right;
    padding: 60px;
    padding-right: 200px;
    color: rgb(51, 51, 51);
    font-size: 24px;
}

span.blc {
    margin: 5px;
}

hr {
    border-width: 2px;
    border-style: solid;
    border-color: rgb(51, 51, 51);
    /* margin-right: 320px;
    margin-top: 45px; */
}

.getintouch {
    padding-top: 142px;
    text-decoration: none;
}

.getintouch a {
    text-decoration: none;
    color: white;
    background-color: rgb(51, 51, 51);
    padding: 22px;
    border-radius: 0px;
}

.getintouch a:hover {
    background-color: white;
    color: rgb(51, 51, 51);
    border-radius: 4px;
    border-color: rgb(51, 51, 51);
    border-style: solid;
}

.about {
    /* margin-top: 100px; */
    padding-top: 100px;
    overflow: hidden;
    text-align: center;
}

hr.about {
    margin-left: 466px;
    margin-right: 456px;
}

b.aboutme {
    font-size: 45px;
}

.aboutcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-child {
    flex: 1;
    margin: 40px;
    letter-spacing: 2px;
    line-height: 50px;
    word-spacing: 3px;
}

.aboutright {
    line-height: 35px;
}

.contactme {
    margin-top: 70px;
    overflow: hidden;
    text-align: center;
}

.contacthr {
    margin-left: 466px;
    margin-right: 456px;
}

b.contacthead {
    font-size: 45px;
}

form#contact_form {
    text-align: left;
}

input[type=text],
textarea {
    width: 170%;
    padding: 15px 15px;
    margin: 25px 0;
    display: inline-block;
    border: 1px solid rgb(51, 51, 51);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    outline-color: rgb(51, 51, 51);
}

.button {
    padding: 15px;
    font-family: 'Acme';
    font-size: 20px;
    font-weight: 500;
    background-color: rgb(51, 51, 51);
    cursor: pointer;
    color: white;
    border: 0px;
    width: 80%;
}

.button:hover {
    color: rgb(51, 51, 51);
    background-color: #efefef;
    border: 1px solid rgb(51, 51, 51);
}

ul {
    list-style-type: none;
}

.cc {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
}

div#clocation {
    font-size: 22px;
    border: 1px solid rgb(51, 51, 51);
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
}

div#cmail {
    font-size: 22px;
    border: 1px solid rgb(51, 51, 51);
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
}

div#cphone {
    font-size: 22px;
    border: 1px solid rgb(51, 51, 51);
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
}

.footer {
    margin-right: 25px;
    margin-left: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.footer-right {
    float: right;
}

.footer-right img {
    margin-right: 10px;
    text-align: center;
    text-decoration: none;
    color: rgb(51, 51, 51);
    filter: drop-shadow(0px 0px 5px black);
}

a {
    text-decoration: none;
}

.footer-right img:hover {
    filter: drop-shadow(0px 3px 5px black);
}