body {
    font-family: 'Acme';
    font-size: 22px;
}

.header {
    overflow: hidden;
    padding: 0px 0px 0px 0px;
    margin-top: 25px;
    margin-right: 25px;
}

.header a {
    color: rgb(51, 51, 51);
    text-align: center;
    padding: 25px;
    text-decoration: none;
    line-height: 45px;
    border-radius: 8px;
    cursor: pointer;
}

.header-right a:hover {
    background-color: black;
    color: white;
}

.header .name {
    font-size: 48px;
    font-weight: bold;
}

.header a.active {
    background-color: black;
    color: white;
}

.header-right {
    float: right;
}

.container {
    background-color: #efefef;
    margin: 25px;
}

img.My_Photo {
    padding: 0px;
    width: 480px;
    padding-top: 0px;
}

.content {
    float: right;
    padding: 60px;
    padding-right: 200px;
    color: rgb(51, 51, 51);
    font-size: 24px;
}

span.blc {
    margin: 5px;
}

hr {
    border-width: 2px;
    border-style: solid;
    border-color: rgb(51, 51, 51);
    margin-right: 320px;
    margin-top: 45px;
}

.getintouch {
    padding-top: 142px;
    text-decoration: none;
}

.getintouch a {
    text-decoration: none;
    color: white;
    background-color: rgb(51, 51, 51);
    padding: 22px;
    border-radius: 0px;
}

.getintouch a:hover {
    background-color: white;
    color: rgb(51, 51, 51);
    border-radius: 4px;
    border-color: rgb(51, 51, 51);
    border-style: solid;
}